body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #1871c9;
}

.right {
  right: 0;
  background-color: #ffffff;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

/*  ----------------------- Watch components --------------------------------- */
.outerdial{
position: relative; 
width: 250px;
height: 250px;
box-align: center;
margin-left:-0.2em;
border-color: #534040;
margin-top:0.1em;
margin-bottom:0.6em;
background: black;
border-radius: 32px;
border-style: inset outset;
border-width:-2em;
}

.strap1{
position: relative; 
width: 159px;
height: 139px;  
background: #824500;
-webkit-border-radius: 45px 45px 45px 45px / 90px 90px 90px 90px;
border-radius: 50% 50% 2% 2% / 25% 25% 2% 2% ;
margin-top:6em;
margin-left:3em;
border-style: solid;
}

.strap2{
position: relative; 
width: 159px;
height: 139px;
background: #824500;
transform: rotate(179.95deg);
-webkit-border-radius: 45px 45px 45px 45px / 90px 90px 90px 90px;
border-radius: 50% 50% 2% 2% / 25% 25% 2% 2% ;
margin-left:3em;
top:-0.49em;
border-style: solid;
} 
/*-----------------------------------------------------------------------------*/

/* ------------------------ Slider css ----------------------------------------*/
.slidecontainer {
  margin-top: 20px;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.2;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 0.4;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 30px;
  border-radius: 10%;
  background: #2aa0db;
  cursor: grab;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 35px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: grab;
}
/* ----------------------------------------------------------------------------*/

/* ------------------------ Glyphicons ----------------------------------------*/
.glyphicon {
  position: relative;
  font-size: 25px;
  color: #2aa0db;
}

.glyphicon.glyphicon-envelope {
  position: relative;
  font-size: 25px;
  color: #2aa0db;
}
.glyphicon.glyphicon-headphones {
  position: relative;
  font-size: 25px;
  color: #2aa0db;
}
.glyphicon.glyphicon-time {
  position: relative;
  font-size: 25px;
  color: #2aa0db;
}
/* ----------------------------------------------------------------------------*/
.setLocation {
  position: relative; 
  margin-left: 15px;
  margin-top: 193px;
  margin-bottom: 2px;
}

table, thead, th {
  border-collapse: collapse;
  border: none !important;
}

.tableAlign {
  position: relative; 
  margin-left: 13px;
  margin-top: 140px;
  margin-bottom: 2px;
}

.tableAlign1 {
  position: relative; 
  margin-left: 13px;
  margin-top: 0px;
  margin-bottom: 2px;
}

.tableAlign.first {
  border-bottom:1px solid #EEE;
}
.tableAlign.second {
  border-bottom:1px solid #EEE;
}
.tableAlign.third {
  border-top:1px solid #CCC;box-shadow: inset 0 1px 0 #CCC;
}
/* ----------------- Message body ------------------------------ */
.iframeSize {
  position: relative; 
width: 240px;
height: 200px;
box-align: center;
margin-left: -0.9em;
border-color: #534040;
margin-top:0.1em;
margin-bottom:0.1em;
background: black;
border-radius: 32px;
border-style: inset outset;
border-width:-2em;
}
/* ------------------------------------------------------------- */
  table, thead, tbody, th {
    border-collapse: collapse;
    border: none !important;
    background-color: black !important;
    }
    /* width */
    ::-webkit-scrollbar {
    width: 20px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #2aa0db; 
    border-radius: 10px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #092454; 
    }
    .inputTimer {
    position: relative;
    background-color: black;
    font-family: Arial;
    font-size: 2.2em;
    color: white;
    margin-top: 10px;
    margin-left: 60px;
    }
    .inputTimer2 {
       position: relative;
      background-color: black;
      font-family: Arial;
      font-size: 1em;
      color: white;
      margin-top: 10px;
      margin-left: 60px;
    }
    /* ------------------------ Glyphicons ----------------------------------------*/
    .glyphicon {
    position: relative;
    font-size: 20px;
    color: #2aa0db;
    }
    .glyphicon.glyphicon-play {
    position: relative;
    font-size: 20px;
    color: #2aa0db;
    }
    .glyphicon.glyphicon-pushpin {
    position: relative;
    font-size: 20px;
    color: #2aa0db;
    }
    .glyphicon.glyphicon-repeat {
    position: relative;
    font-size: 20px;
    color: #2aa0db;
    }
    .tableAlign {
    border-left: 10px;
    }
